.post {
    padding: 0.5rem 1rem;
}

.p-4 {
    padding: 0.5rem 1rem;
}

.btn {
    cursor: pointer;
    background-color: #fff;
}

.block {
    display: block;
}

.m-x-2 {
    margin-inline: .5rem;
}

.m-x-4 {
    margin-inline: 1rem;
}


.m-y-2 {
    margin-block: .5rem;
}

.m-y-4 {
    margin-block: 1rem;
}